@import 'scss/base/reset';
@import 'scss/components/buttons';
@import 'scss/components/inputs';

#app{
    height: 100%;
    padding: 5rem;
    background-color: #FFF;

    header{
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            background-position: center;
            background-size: cover;
    
            img{
                max-width: 14rem;
                max-height: 5rem;
            }
        }
    }
}